<h1><%= @user.username %></h1>

<form action="/<%= @user.slug %>" method="POST">
  <input type="submit" value="choose tree">
  <br>
  <select name="tree">
    <% @user.trees.each do |tree| %>
      <option value="<%= tree.name %>"><%= tree.name %></option>
    <% end %>
    <option value="new_tree">new tree</option>
    <!-- <option value="volvo">Volvo</option> -->
  </select>
</form>

<% if @tree %>
  <%= @tree %>
<% end %>
