<p><a href="/community">home</a> / <a href="/trees">browse</a> / <a href="/logout">log out</a>
<h1><%= @user.username %></h1>
<form id="choose_tree" action="/users/<%= @user.slug %>" method="POST">
  <select id="choose_tree" name="tree">
    <% @user.trees.each do |tree| %>
      <option value="<%= tree.name %>"><%= tree.name %></option>
    <% end %>
    <% if @user == @current_user %>
      <option value="new_tree">new tree</option>
    <% end %>
  </select>
  <br>
  <input type="submit" value="choose tree">
</form>
<br>
<% if @tree_name %>
  <h2> <%= @tree_name.name %></h2>
  <% if @user == @current_user %>
    <form action="/users/<%= @user.slug %>/<%= @tree_name.slug %>" method="post">
      <input type="text" name="parent" id="parent"> < <input type="text" name="child1" id="child1"> <input type="text" name="child2" id="child2">
      <br>
      <input type="submit" value="branch!">
    </form>
    <!-- <a href="/users/<%= @user.slug %>/<%= @tree_name.slug %>/delete"><button>delete tree</button></a> -->
    <form method="post" action="/users/<%= @user.slug %>/<%= @tree_name.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Tweet">
    </form>
  <% end %>
  <%= @tree_show %>
<% end %>
